{% extends "base.html" %}

{% block content %}
<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Weight</th>
    <th>Duration</th>
    <th>Deadline</th>
    <th>Created On</th>
  </tr>
  <tr>
    <td><input type="text" name="title"></td>
    <td><input type="text" name="description"></td>
    <td><input type="text" name="weight"></td>
    <td><input type="text" name="duration"></td>
    <td><input type="text" name="deadline"></td>
    <td><input type="text" name="created"></td>
  </tr>
</table>

{% endblock %}
