{% extends "base.html" %}

{% block content %}
<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Weight</th>
    <th>Duration</th>
    <th>Deadline</th>
    <th>Created On</th>
  </tr>
  {% for dream in allDreams %}
  <tr>
    <td>{{ dream.title }}</td>
    <td>{{ dream.description }}</td>
    <td>{{ dream.weight }}</td>
    <td>{{ dream.duration }}</td>
    <td>{{ dream.deadline }}</td>
    <td>{{ dream.created }}</td>
    <td> <button>Edit</button> <button>Add Subtasks</button> </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
